:root{  /*seudo elementos*/
  --blanco : #ffffff;  /*paleta de colores*/
  --oscuro : #212121;
  --primario : #ffc107;
  --secundario : #0097a7;
  --gris : #757575;

}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after { /*no duplicar el tama単o */
    box-sizing: inherit;
  }
body{  /* cuerpo */
    font-size:  16px; /* 1 rem = 10px */
    font-family: 'Krub' , sans-serif ;  /* tipo de letra*/
     background-image: linear-gradient(to top , #DFE9F3,var(--blanco) 100%);    /*sombre la base por partes */
}
h1{
    font-size: 3.8rem;  /*tama単o de letras*/
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;  /*centrar texto*/  
}
.titulo span{
    font-size: 2rem;
}

/** UTILIDADES**/
.w-100{
    width: 100%;
}
@media(min-width : 768px){
    .w-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end ;
}

.contenedor{
    max-width: 90rem;/* tama単o*/
   /* margin-left: auto; izquierda*/
    /*margin-right: auto; derecha*/
    margin: 0 auto;
}
.sombra{
         box-shadow: 4px 5px 15px -1px rgba(0,0,0,0.34);
         background-color: var(--blanco);
         padding: 2rem;
}
.button{
    background-color: var(--secundario);
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700; /* engordar mas la letra*/
    border-radius: .5rem; /* las puntas del cuadro de manera circular*/
    width: 90%;
    text-align: center;
    border: none;
}
@media(min-width : 768px){
    .button{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
.navegacion-principal a {
    display: block;
    text-align: center;
   color: var(--blanco);
   /* background-color: var(--primario); cambiar fondo*/
   text-decoration: none; /* quitar la linea de la barra */
   font-size: 2rem; /* agranda las letras*/
   font-weight: 700;
   padding: 1rem; /*engorda */
}
.navegacion-principal  {   
    display: flex;  /* se adapta al padding*/
    flex-direction: column;
  
}
@media(min-width : 768px){  /* 480 celular,768 tablet,1140 laptop o pc escritorio,1400 frameworks*/  /*responsive adecua a cualquier pantalla*/
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between; /* separa las palabras horizontalmente */
    }
}
.nav-bg{
    background-color: var(--secundario); /*fondo */  
}
.navegacion-principal a:hover {  /*cambia de color al puntear una de la barra*/
      background-color: var(--primario); /*sombreado*/
      color: var(--oscuro); /*color de la letra al sombreado*/
}
.img{
    background-image: url(../img/hero.jpg);  /*extrae la imagen */
    background-repeat: no-repeat; /*no repite la imagen */
    background-size:cover ;  /*toma toda la pantalla*/ 
    height: 450px;
    position: relative; /*padre siempre relativo y el hijo siempre absolute*/
    margin-bottom: 2rem;
    border-radius: 1rem; /*esquinas redondeadas*/
}
.contenido-img{
        position: absolute;
        background-color: rgb( 0 0 0 /70%); /*tranparencia */
        width: 100%;
        height: 100%; 
        
        display: flex;
        flex-direction : column ;  /*centrar y jugar con la posicion  alinear al medio*/
        align-items: center;
        justify-content: center;
    }
.contenido-img h2 ,.contenido-img p{
  color: var(--blanco);
}
.footer{
    text-align: center;
}

.servicios , .navegacion-principal , .formulario{
    scroll-snap-align: center;
    scroll-snap-stop:always ;
}

/** Servicios **/

@media(min-width : 768px){
    .servicios{
        display:grid ;
        grid-template-columns: repeat(3, 1fr); /* el fr divide las cantidad de columnans osea en fraccion x la cantidad ejem jr 3 veces es 1/3*/
        column-gap: 1rem; /*separacione entre columnas */
    }
}

.servicio .iconos{
           height: 15rem;
           width: 15rem;
           background-color: #ffc107;
           border-radius: 50%;
          
           display: flex;
           justify-content: space-evenly;
           align-items: center;
 }
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio p{
    line-height: 2; /* separa el interlineado*/
}
.servicio h3{
    color:var(--secundario);
    font-weight: normal;
}

/** FORMULARIO **/

.formulario{
 background-color: var(--gris);
 width: min(60rem ,100%); /* itiliza el valor mas peque単o */
 margin:auto;
 padding: 2rem;
 border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    color: var(--primario);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.campos{
     margin-bottom: 1rem;

}
@media(min-width : 768px){
    .contedor-campos{
        display: grid;
        grid-template-rows: auto auto 20rem;
       grid-template-columns: repeat(2, 1fr);
       column-gap: 1rem;  
     }
     .campos:nth-child(3){ /*elegir una especifica*/
       grid-column: 1 / 3 ;
     }
     .campos:nth-child(4){
         grid-column:1 / 3 ;
     }
}
.campos label{
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.campos textarea{
    height: 17rem;

}